footer {
  display: flex;
  justify-content: space-between;
  background-color: getColour(background-boxes);
  padding: 20px;
  flex-shrink: 0;
  color: getColour(light-grey-text);
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}
