body,
html {
  height: 100%;
}

body {
  background-color: getColour(background-body);
  display: flex;
  flex-direction: column;
}

.box {
  height: 220px;
  border-radius: 15px;
  background-color: getColour(background-boxes);
}


.pink-border {
  border: 2px solid getColour(pink);
  background-color: getColour(white);
}

.pink-fill {
  background-color: getColour(pink) !important;
}

.wrapper {
  flex: 1 0 auto;
}
